@model List<MonsterValueCrew.Data.DataModels.CourseQuestions>
<h2>Questions:</h2>

@using (Html.BeginForm("SendAnswers", "Courses", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div id="@i">
                <h3>@Model[i].QuestionName</h3>
                @Html.HiddenFor(q => Model[i].QuestionName)
                @Html.HiddenFor(q => Model[i].CorrectAnswer)

                @Html.RadioButtonFor(a => Model[i].SelectedAnswer, Model[i].A, new { id = $"q {@i} 1" })

                <label for="q @i 1">
                    @Model[i].A
                </label>

                @Html.RadioButtonFor(a => Model[i].SelectedAnswer, Model[i].B, new { id = $"q {@i} 2" })

                <label for="q @i 2">
                    @Model[i].B
                </label>

                @Html.RadioButtonFor(a => Model[i].SelectedAnswer, Model[i].C, new { id = $"q {@i} 3" })

                <label for="q @i 3">
                    @Model[i].C
                </label>

                @Html.RadioButtonFor(a => Model[i].SelectedAnswer, Model[i].D, new { id = $"q {@i} 4" })

                <label for="q @i 4">
                    @Model[i].D
                </label>
                <br />
            </div>
        }
        <div class="">
            <input type="submit" value="Send results" class="btn waves-effect teal text-lighten-2" />
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        Materialize.updateTextFields();
    });


    $("input[type='hidden']").each(function (index, element) {
        $(this).appendTo($(element).parent());
    });
</script>

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
}
