@model MonsterValueCrew.Areas.Admin.ViewModels.UserCourseAssignmentViewModel
@{
    ViewBag.Title = "AssignCourses";
}

<div class="container">
    <h2>Assign Courses</h2>
    @using (Html.BeginForm("Assignment", "Admin", FormMethod.Get))
    {
        @Html.AntiForgeryToken()

        <div>
            @*Listing Users*@
            <div>
                <h5>Users</h5>
                @for (int i = 0; i < Model.Users.Count; i++)
                {
                    <div>
                        @Html.HiddenFor(u => Model.Users[i].Id)
                    </div>
                    <div class="paddingAll">
                        @Html.CheckBoxFor(u => Model.Users[i].IsSelected)
                        @Html.LabelFor(u => Model.Users[i].IsSelected, Model.Users[i].UserName)
                        @Html.HiddenFor(u => Model.Users[i].UserName)
                    </div>
                   
                }
            </div>
            <h5>Choose Assignment Type of Course</h5>
            <div class="paddingAll">
                @Html.CheckBoxFor(u => Model.IsMandatory)
                @Html.LabelFor(u => Model.IsMandatory)
                @Html.HiddenFor(u => Model.IsMandatory)
            </div>

            <div class="paddingAll">
                @Html.LabelFor(u => Model.DueDate)
                @Html.EditorFor(u => Model.DueDate)
                @Html.HiddenFor(u => Model.DueDate)
            </div>
            @*Listing Corses*@
            <div>
                <div>Courses</div>
                @for (int i = 0; i < Model.Courses.Count; i++)
                {
                        @Html.HiddenFor(c => Model.Courses[i].Id)
                    
                    <div>
                        @Html.CheckBoxFor(c => Model.Courses[i].IsSelected)
                        @Html.LabelFor(c => Model.Courses[i].IsSelected, Model.Courses[i].Name)
                        @Html.HiddenFor(c => Model.Courses[i].Name)
                    </div>
                }
            </div>
            <div class="paddingAll">
                <input type="submit" class="btn waves-effect" value="Assign Courses To Users">
            </div>
        </div>
    }
</div>
@section Scripts{
<script>
        $(document).ready(function () {
            Materialize.updateTextFields();
        });

        $("input[type='hidden']").each(function (index, element) {
            $(this).appendTo($(element).parent());
        });
</script>
    }
