@model  MonsterValueCrew.Areas.Admin.ViewModels.UserCourseAssignmentViewModel
@{
    ViewBag.Title = "Assignment";
}
<div class="container">
    <h2>You Have Selected</h2>
    @using (Html.BeginForm("AssignCourses", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h5>Assigning current users</h5>
        <div>
            <div>
                @for (int i = 0; i < Model.Users.Count; i++)
                {
                    @Html.HiddenFor(u => Model.Users[i].Id)
                    @Html.HiddenFor(u => Model.Users[i].UserName)
                    <div>
                        @Model.Users[i].UserName
                    </div>
                }
            </div>
            <h5>To Course</h5>
            <div>
                @for (int i = 0; i < Model.Courses.Count; i++)
                {

                    @Html.HiddenFor(c => Model.Courses[i].Id)
                    @Html.HiddenFor(c => Model.Courses[i].Name)
                    <div>
                        @Model.Courses[i].Name
                    </div>

                }
            </div>
        </div>
        <h5>Assignment Type</h5>
        <div>
            @Html.HiddenFor(a => Model.IsMandatory)
        </div>
        <div>
            @if (Model.IsMandatory)
            {
                <div>Course is Mandatory</div>
            }
            else
            {
                <div>Course is Optional</div>
            }
        </div>
        <h5>With Due Date</h5>
        @Html.HiddenFor(d => Model.DueDate)
        <div>@Model.DueDate</div>
        <div>
            <input type="submit" class="btn" value="Confirm">
        </div>
    }

</div>