@model MonsterValueCrew.Areas.Admin.ViewModels.UserCourseAssignmentViewModel
@{
    ViewBag.Title = "SubmitAssignment";
}

<div class="container">
    <h2>Course Selected</h2>
    @using (Html.BeginForm("Assignment", "Admin"))
    {
        @Html.AntiForgeryToken()

        <div>
            @*Listing Users*@
            <div>
                <div>Users</div>
                @for (int i = 0; i < Model.Users.Count; i++)
                {
                    <div class="paddingAll">
                        @Html.HiddenFor(u => Model.Users[i].Id)
                    </div>
                    <div class="paddingAll">
                        @Html.EditorFor(u => Model.Users[i].UserName)
                        @Html.DisplayFor(u => Model.Users[i].UserName)
                    </div>
                    <div class="paddingAll">
                        @Html.HiddenFor(u => Model.DueDate)
                        @Html.LabelFor(u => Model.DueDate)
                        @Html.EditorFor(u => Model.DueDate)
                    </div>
                }
            </div>
            @*Listing Corses*@
            <div>
                <div>Courses</div>
                @for (int i = 0; i < Model.Courses.Count; i++)
                {
                    <div class="paddingAll">
                        @Html.HiddenFor(c => Model.Courses[i].Id)
                    </div>
                    <div class="paddingAll">
                        @Html.CheckBoxFor(c => Model.Courses[i].IsSelected, new { @type = "checkbox" })
                        @Html.LabelFor(c => Model.Courses[i].Name, new { @for = "IsChecked" })
                    </div>
                    <div>
                        @Html.EditorFor(c => Model.Courses[i].IsSelected)
                        @Html.DisplayFor(c => Model.Courses[i].Name)
                        @Html.HiddenFor(c => Model.Courses[i].Name)
                    </div>
                }
            </div>
            <div class="paddingAll">
                <div class="btn">
                    @Html.ActionLink("New Assignment", "AssignCourses", "Admin", new { area = "Admin" }, null)
                </div>
            </div>
        </div>
    }
</div>